.layout {
  position: relative;
  min-height: 100vh;
}

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.chatbot-icon:hover {
  transform: scale(1.1);
}

.chatbot-dialog {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000; /* Ensure it's on top */
}
